@Import '~antd/dist/antd.css';

.DrawingRound {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DrawingRound-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.DrawingRound-countdown {
  width: 5rem;
  align-self: flex-end;
  margin-bottom: 2rem;
}

.DrawingRound-titles {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DrawingRound-TimeIsUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}