@Import '~antd/dist/antd.css';

.GameLobby {
  height: 100vh;
  background-color: #61dafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GameLobby-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GameLobby-urlArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d6f3ff;
  padding: 1rem;
}

.GameLobby-url {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.GameLobby-copyButton {
  background-color: transparent;
  border-width: 1px;
  border-color: black;
  margin-left: 0.5rem;
}

.GameLobby-playerList {
  margin-bottom: 1rem;
}

.GameLobby-playerName {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.GameLobby-playerItem {
  border-radius: 2rem;
  margin: 0.5rem;
  background-color: #d6f3ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.GameLobby-options {
  display: flex;
  flex-direction: row;
}

.GameLobby-option {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}