@Import '~antd/dist/antd.css';
@Import './colors.css';


@media (max-width: 400px) {
    html {
        font-size: 12px;
    }
}

h1 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}
h2 {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}

p {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.layout-main {
    background-color: var(--primary-background-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

}

.layout-logo {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 8rem;
    height: auto;
}

.layout-content {
    height: 100%;
    width: 100%;
}

.layout-footer {
    background-color: var(--secondary-background-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.layout-inner-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
.layout-inner-footer > p {
    margin: 0;
}

.layout-impressum-modal-content {
    height: 80vh;
    overflow-x: hidden;
    overflow-x: auto;
}