@Import '~antd/dist/antd.css';

.GuessingRound {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GuessingRound-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.GuessingRound-headerBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.GuessingRound-titles {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GuessingRound-titles > h1 {
  font-size: 2rem;
}

.GuessingRound-image {
  max-width: 100%;
  max-height: 100%;
  width: 65vh;
  height: 65vh;
}

@media screen and (orientation:portrait) {
  .GuessingRound-image {
    width: 100vw;
    height: 100vw;
  }
}