@import '~antd/dist/antd.css';

.Lobby {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Lobby-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.Lobby-header > h1 {
  margin-bottom: 0;
}

.Lobby-nameInputArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Lobby-nameInput {
  font-size: 3rem;
  color: white;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-family: sans-serif;
  text-align: end;
  width: 300px;
}

.Lobby-nameInput:focus {
  border: none;
}

.Lobby-editNameButton {
  max-width: 3rem;
  max-height: 3rem;
}

.Lobby-editNameButton:hover {
  cursor: pointer;
}

.Lobby-JoinGameArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.Lobby-JoinGameInput {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Lobby-JoinGameInputInput {
  font-size: 1.5rem;
  height: 3rem;
  border-radius: 10px 0 0 10px;
}

.Lobby-JoinGameInputButton {
  height: 3rem;
  background-color: #244651;
  border: none;
  border-radius: 0 10px 10px 0;
  color: white;
  font-family: sans-serif;
}


.Lobby-manualImageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: lightgrey;
  opacity: 0.7;
  z-index: 1;
}

.Lobby-manualImage {
  height: 50vh;
  z-index: 2;
  position: fixed;
  top: calc(50% - 25vh);
  left: calc(50% - 33vh);
}

@media(max-width: 420px) {
  .Lobby-manualImage {
    width: 80vw;
    height: auto;
    top: calc(50% - 25vh);
    left: calc(50% - 40vw);
  }
}