@Import '~antd/dist/antd.css';

@media (min-width: 420px) {
  .PartyLobby {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.PartyLobby-leaveButton {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}

.PartyLobby-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.PartyLobby-header > h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-right: 0.5rem;
}

.PartyLobby-partyIdArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.PartyLobby-partyIdArea > h1 {
  line-height: 1;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.PartyLobby-partyIdArea > button {
  margin-bottom: 0;
}

.ant-btn-icon-only.ant-btn-lg {
  width: auto;
  height: auto;
}

.ant-btn-icon-only.ant-btn-lg > * {
  font-size: 2rem;
  margin-left: 1rem;
}

.PartyLobby-header > h1 {
  margin-bottom: 0;
}

.PartyLobby-nameArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.PartyLobby-nameInput {
  font-size: 3rem;
  color: white;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-family: sans-serif;
  padding: 0;
  line-height: 1;
  width: 300px;
}

@media (max-width: 350px) {
  .PartyLobby-nameInput {
    width: 250px;
  }
}

.PartyLobby-nameInput:focus {
  border: none;
}

.PartyLobby-editNameButton {
  max-width: 3rem;
  max-height: 3rem;
}

.PartyLobby-editNameButton:hover {
  cursor: pointer;
}

.PartyLobby-copyButton {
  background-color: transparent;
  border: none;
  color: white;
  margin-bottom: 0.5rem;
}

.PartyLobby-mainArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

@media (max-width: 420px) {
  .PartyLobby-mainArea {
    justify-content: space-between;
  }
}

.PartyLobby-mainAreaLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.PartyLobby-playerArea {
  min-width: 20rem;
  max-width: 48rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.PartyLobby-playerList {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.PartyLobby-playerItem {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.PartyLobby-playerItemName {
  width: 7rem;
  flex-wrap: wrap;
}

.PartyLobby-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 420px) {
  .PartyLobby-option {
    width: 100%;
  }
}

.PartyLobby-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.PartyLobby-timeOptionSeconds {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.PartyLobby-timeOptionButtons {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.PartyLobby-timeOptionButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #ec5b56;
  color: white;
  width: 2rem;
  height: 100%;
  margin-left: 1px;
}

.PartyLobby-timeOptionButton:hover {
  cursor: pointer;
}

.ant-select-arrow {
  background-color: #ec5b56;
  top: 0;
  right: 0;
  margin-top: 0;
  width: 2rem;
  height: 100%;
  color: white;
  font-size: 18px;
}

.ant-input-number-handler-wrap {
  visibility: hidden;
}

.PartyLobby-previousGames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
}

.PartyLobby-previousGamesList {
  max-height: 20rem;
  border: 5px dashed white;
  border-radius: 5px;
  padding: 1rem;
  overflow: auto;
}

.PartyLobby-previousGamesItem {
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 15rem;
  padding: 1rem;
  border-radius: 12px;
}

.PartyLobby-previousGamesItem:hover {
  cursor: pointer;
  background-color: #2a99a9;
}

.PartyLobby-previousGamesSeparator {
  height: 3px;
  width: 100%;
  background-color: rgba(6,22,33,0.5);
}

.PartyLobby-previousGamesItem > p {
  margin-bottom: 0;
}

.PartyLobby-activeGame {
  border-radius: 12px;
  background-color: #ec5b56;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.PartyLobby-activeGame:hover {
  cursor: pointer;
}

.PartyLobby-previousGameGoToResults {
  border-radius: 12px;
  background-color: rgb(128, 157, 169);
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.PartyLobby-previousGameGoToResults:hover {
  cursor: pointer;
}
